samples/streams/

NV_DeepstreamSDK_Excercise/
tests/
gstreamer/

**/*.mp4
**/*.h264
**/*.caffemodel
**/*.binaryproto
**/*.engine
**/*.weights
**/*.wts
**/*.o
**/*.a
**/*.so
**/*.pth
**/*.onnx
**/*.tlt
**/*.engine
**/*.zip
**/*.etlt


CaffeMNIST/**/build/

yolo/apps/**/deepstream-yolo-app
yolo/apps/**/deepstream-yolo-msgbroker-app
yolo/apps/**/trt-yolo-app
yolo/data/**/*.cfg
yolo/data/**/*.jpeg
yolo/data/**/*.png
yolo/**/build/
senet/**/build/
anomaly/**/build/
super-gradients/
opencv/

deepstream-services-library/
librdkafka/
sources/DeepStream-Yolo/calibrations
sources/DeepStream-Yolo/val2017