samples/streams/

.vscode/
tests/

**/*.mp4
**/*.h264
**/*.caffemodel
**/*.binaryproto
**/*.engine
**/*.weights
**/*.wts
**/*.o
**/*.a
**/*.so
**/*.pth
**/*.onnx
**/*.tlt
**/*.engine
**/*.zip
**/*.etlt


CaffeMNIST/**/build/

yolo/apps/**/deepstream-yolo-app
yolo/apps/**/deepstream-yolo-msgbroker-app
yolo/apps/**/trt-yolo-app
yolo/data/**/*.cfg
yolo/data/**/*.jpeg
yolo/data/**/*.png
yolo/**/build/
senet/**/build/
anomaly/**/build/
super-gradients/
opencv/
DeepStream-Yolo/